
/*-------------------------------------------------------*\
layout's
\*-------------------------------------------------------*/


/*-------------------------------------------------------*\
playground-flex
\*-------------------------------------------------------*/

.playground-flex {
	height: 100vh;
	padding: 30px 70px;
	overflow: auto;
}

.playground-flex__cabecalho {
	display:  flex;
	flex-direction: column;
	align-items: center;
	margin: 20px 20px 60px 20px;	
}

.playground-flex__separador {
	width: 40px;
	height: 3px;
	background-color: #e2e2e2;
}

.playground-flex h1 {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-family: "LeagueSpartan-Bold";
	letter-spacing: 3px;
	padding: 10px 0 20px 0;
}

.playground-flex h1 span {
	font-family: "LeagueSpartan-Bold";
    margin: 15px auto;
    font-size: 14px;
    border: 2px solid #71c558;
    padding: 5px 4px 1px 5px;
}

/*-------------------------------------------------------*\
controles-container
\*-------------------------------------------------------*/

.controles-container__tabela thead {
	line-height: 1.5;
	height: 30px;		
    border-bottom: 1px solid #ccc;
}


.controles-container__tabela th, .controles-container__tabela td {
	text-align: center;
	font-size: 13px;
}

.controles-container__tabela th {
    font-family: "Poppins-Bold";
    padding-bottom: 10px;
}

.controles-container__tabela td {
	line-height: 1.5;
	font-family: "Comfortaa-Regular";
	height: 30px;		
	vertical-align: middle;
}
.controles-container__tabela tr:first-child td{
    padding-top: 20px;
}
	
.controles-container__tabela td button 	{
	border: none;
	background: none;
}

.controles-container__tabela td button:active, .controles-container__tabela td button:focus	{
	outline: none;	
}
.controles-container__tabela td button:hover, .flex-default {
	color: #71c558;
	font-weight: 700;
}

/*-------------------------------------------------------*\
    controles-itens
\*-------------------------------------------------------*/

.controles-itens__abas {
    flex-direction: row !important;
    justify-content: center;
    margin: 10px 0 25px 0;
}

.controles-itens__abas a[id^="formulario-aba-item-"] {
    padding: 3px 0;
    margin: 7px 0;
    color: #000;
    font-weight: 700;
    font-family: "Poppins-Bold";
    padding: 3px 12px;
}

.controles-itens__abas a[id^="formulario-aba-item-"].active {
    background-color: transparent;
    color: #71c558;
    border: 2px solid #71c558;
}

.controles-itens__conteudo {
    padding: 30px;
}
    

/*-------------------------------------------------------*\
	container-flex
\*-------------------------------------------------------*/

.layout-container {
	height: 100vh;
	box-sizing: border-box;
	padding: 30px;
}

.container-flex {
	display: flex;
	width: 100%;
	height: 100%;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	background: linear-gradient(324deg, #f1f1f1, #fbfbfb, #f1f1f1);
}

/*-------------------------------------------------------*\
item-flex
\*-------------------------------------------------------*/

.item-flex {
	display: inline-block;
	padding: 50px;
	background-color: #61a34f;
    color: #fff;
    font-size: 30px;
	font-weight: 700;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 36px, rgba(255,255,255,0.5) 35px, rgba(255,255,255,-16.5) 37px);
}

/*-------------------------------------------------------*\
    formulario
\*-------------------------------------------------------*/

.formulario {
    width: 100%;
    margin: 0 auto;
}

.formulario__InputGroup {
    margin: 0 0 30px 0;
    text-align: left;
}

.formulario__label {
    width: 100%;
    display: inline-block;
    font-family: "Poppins-Bold";
    font-size: 14px;
}

.formulario__input {
    display: inline-block;
    width: 100%;
    padding: 7px;
    border-radius: 7px;
    border: 1px solid #ccc;
    font-family: "Comfortaa-Regular";
    font-size: 12px;
}

textarea.formulario__input {
    min-height: 225px;
}

.formulario__input:focus, .formulario__input:hover {
    outline: none;
    border: 1px solid #71c558;
    color: #71c558;

}

.formulario__input:focus::placeholder, .formulario__input:hover::placeholder
{
    color: #71c558;
}

.formulario_botoes {
    margin: 50px 0px 50px auto;
    display: flex;
    justify-content: flex-end;
}

.formulario_botao {
    display: flex;
    width: 35%;
    margin: 0 20px 0 0;
}

.formulario_botao:last-child{
    margin: 0;
}

.formulario__conjuto-input {
    margin: 50px 0;
    border: 1px solid #cccccc;
    border-radius: 7px;
    text-align: center;
    padding: 15px 25px;
}


.formulario__conjunto-legenda {
	width: auto;
    padding: 0 15px;
    font-family: "AnandaPersonal";
    font-size: 20px;
}

/*-------------------------------------------------------*\
    botao
\*-------------------------------------------------------*/

.botao {
    width: 100%;
    border: none;
    background: #ff9800;
    color: #fff;
    padding: 10px 25px;
    font-size: 40px;
    font-family: "AnandaPersonal";
    border-radius: 7px;
    text-shadow: 1px 1px 1px #000;
}

.botao:focus, .botao:hover {
    outline: none;
}

.botao--remover {
    background: none;
    color: #ff310d;
    box-shadow: none;
    font-size: 25px;}


/*-------------------------------------------------------*\
    code
\*-------------------------------------------------------*/

code {
    display: inline-block;
    background-color: #f7f7f7;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    color: #71c558;
    text-align: center; 
}