
/* ---------------------------------------------*\

layout's

\* ---------------------------------------------*/

/* ---------------------------------------------*\

controles-container

\* ---------------------------------------------*/

.controles-container {
	height: 100vh;
	padding: 30px 50px;
	overflow: auto;
}

.controles-container__tabela {
	border: 1px solid #dee2e6;
}

.controles-container__tabela th, .controles-container__tabela td {
	text-align: center;
}



