* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: "LeagueSpartan-Bold";
    src: url("../fonts/LeagueSpartan-Bold.otf");
}

@font-face {
    font-family: "Comfortaa-Regular";
    src: url("../fonts/Comfortaa-Regular.ttf");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../fonts/Poppins-Bold.otf");
}

@font-face {
    font-family: "AnandaPersonal";
    src: url("../fonts/AnandaPersonal.ttf");
}

@font-face {
    font-family: "Codec-Cold-News-trial";
    src: url("../fonts/Codec-Cold-News-trial.ttf");
}

